.course-content ul.fntabs li.section {
    list-style: outside none none;
    padding: 0;
}
.courseedit {
    background-color:#B3EAFF;
}
.courseedit-fn {
    background-color:#C5EFFF;
}
.courseedit-fn-section {
    background-color: #C5EFFF;
    border-style: solid;
    border-width: 2px;
}
.fntopicsoutlinecontent {
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-width: 1px;
}
.fntopicsoutlinecontenthidden {
    background-color: #D3D3D3;
    border-color: #AAA;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-width: 1px;
    padding: 10px !important;
}
.fntopicsoutlinecontenthighlight {
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-width: 1px;
}
.fnweeklynav {
    border-collapse: separate;
    border-spacing: 4px 0;
}
.fnweeklynav .tab-heading {
    color: #FFF;
    font-size: 16px;
    width: 50px;
}
.fnweeklynavnorm {
    color: blue;
    text-align: center;
}
.fnweeklynavnorm a {
    display: block;
    height: 20px;
    padding-top: 5px;
    text-decoration: none;
}
.fnweeklynavnorm a:hover {
    text-decoration:none;
}
.fnweeklynavnorm a:active {
    text-decoration: none;
}
.fnweeklynavnorm .fntab-tooltip {
    text-align: inherit;
}

td.fnweeklynavselected {
    color: black;
    font-weight: bold;
    text-align: center;
}
td.fnweeklynavselected {
    border-radius: 0;
}

.format-fntabs div.fnweeklynavselected {
    border-radius: 5px 5px 0 0;
}
.format-fntabs.editing .fnweeklynavselectedcontent {
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
}
.format-fntabs .section .side.right {
    position: absolute;
    right: 6px;
    top: 10px;
}
.format-fntabs .course-content ul li.section.main {
    border-bottom: 0;
}
.fnweeklynavselected .content-section {
    padding: 5px;
}
.fnweeklynavdisabledselected1 .content-section {
    padding: 5px;
}
.topicsoutline {
    font-weight: normal;
    margin: 0;
}
.topicsoutline table {
    margin: 0;
}
.topicsoutline table td {
    padding: 0;
}

.fnweeklynavdisabledselected {
    color: #bdbbbb;
    text-align: center;
}
.fnweeklynavdisabled {
    text-align: center;
}
.markingcontainer td.generalbox4 {
    background-color: #FFFFFF;
}
.markingcontainer td.generalbox4content {
    border: solid red 1px;
}
.markingpastbox {
    background-color: #D2D2D2;
    border-color: Gray;
    border-style: solid;
    border-width: 1px;
}
.fnmarkingblock thead,
.fnmarkingblock tbody td {
    border-style: solid;
    border-width: 1px;
}
table.fnmarkingblock tbody {
    background-color: #B3EAFF;
}
.fncoursegroup {
    border-style: solid;
    border-width: 1px;
}
.gradeactcol {
    text-align: left;
    writing-mode: tb-rl;
}
div.fnintro {
    width: 100%;
}
.fnintro .hide-show img.hide-show-image {
    background: url('[[pix:theme|switch_minus]]') no-repeat bottom;
    height: 11px;
    margin-top:0.25em;
    width: 11px;
}
.fnintro.hidden .asscontent {
    display: none;
}
.fnintro.hidden .hide-show img.hide-show-image {
    background: url('[[pix:theme|switch_plus]]') no-repeat bottom;
}
.fnintro .hide-show {
    float: right;
}
fieldset#fnassntypefs,
fieldset#fnassntype2fs  {
    background-color: #E5F8FF;
    border: solid 1px;
    float: none;
    padding: 10px;
    width: auto;
}
fieldset#fnassntypefs div.htmlarea {
    width: auto;
}
fieldset.fnassnsubtype {
    background-color: #C5EFFF;
    margin: 6px 20px 6px 100px;
}
.fnassnsubtype.hideit {
    display: none;
}
div.fnassnsubtype {
    background-color: transparent;
}
.fnasssettings.hideit {
    display: none;
}
.fnfile.hideit {
    display: none;
}
.marked {
    border-bottom: 1px solid Gray;
}
.block_gallery_pix .content img {
    border: solid black 1px;
}
.block_gallery_pix .content h4 {
    margin-bottom: 0;
    margin-top: 0;
}
.neutral {
    background-color: #FFF;
}
.passed {
    background-color: #CEFECE;
}
.failed {
    background-color: #FFCDCF;
}
div.teacherpic {
    background-color: green;
    padding: 2px;
}
div.studentpic {
    background-color: blue;
    padding: 2px;
}
.coursebox {
    background-color: white;
}
tr.evenrow {
    background-color: #B3EAFF;
}
tr.oddrow {
    background-color: #FFF;
}
.fnweeklycontent {
    background-color: #FFF;
}
.fnsectionouter {
    padding: 0;
}
.number-select {
    padding: 0.5em;
}
.fntopicsoutlineinner {
    background-color: #FFF;
    padding: 10px !important;
}
.fntopicsoutlinesidehidden {
    background-color: #AAA;
}
.markingpastcomment {
    background-color: #C0C0C0;
}
.markingpastheader {
    background-color: #A4A4A4;
}
.fnmarkingnewsub {
    background-color: #FFFF66;
    border: solid green 2px;
}
.fnmarkingoldsub {
    border: solid green 2px;
}
.fnmarkingnewfsub {
    background-color: #FFFF66;
    border: solid gray 1px;
}
.fnmarkingoldfsub {
    background-color: #B3EAFF;
    border: solid gray 1px;
}

.fnmarkedfilearea {
    border: solid green 2px;
}
#mod-resource-view .generalboxcontent {
    background-color: #FFF;
}
#mod-assignment-view .generalboxcontent {
    background-color: #FFF;
}
.treeMenuDefault {
    font-size: 90%;
    font-style: normal;
}
.treeMenuBold {
    font-size: 90%;
    font-weight: bold;
}

#fn_tab_previous {
    padding-right: 0.5em;
    text-align: right;
}
#fn_tab_next {
    padding-left: 0.5em;
}

.weekcompletedstatus {
    border: 4px solid green;
}
.weekincompletedstatus {
    border: 4px solid red;
}

.jumpmenu {
    text-align:center;
}

.fntabs .fntabsettings img {
    background-color: #4285F4;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 2px;
}

/***overright ***/
#page-course-view-fntabs li.activity span.autocompletion, #page-course-view-fntabs li.activity form.togglecompletion {
    display: inline;
    left: -25px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 18px;
    z-index: 10;
}
#page-course-view-fntabs .section li.activity {
    margin-bottom: 3px;
}
#page-course-view-fntabs .weeks .section, #page-course-view-fntabs .topics .section {
    background: none;
}
#page-course-view-fntabs .green-tab {
    border-top: 5px solid green;
    padding-top: 0;
}
#page-course-view-fntabs .red-tab {
    border-top: 5px solid red;
    padding-top: 0;
}
#page-course-view-fntabs table {
    font-size: 100% !important;
}
#page-course-view-fntabs .weeks .fntopicsoutlineinner .section-boxs {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#page-course-view-fntabs .weeks .fntopicsoutlineinner ul.section {
    display: inline-block;
    margin-top: 1em;
}
#page-course-view-fntabs .weeks .fntopicsoutlineinner ul.section li {
    text-align: left;
}
#page-course-view-fntabs .weeks .fntopicsoutlineinner ul.section table td{
    padding: 5px;
}
#page-course-view-fntabs .weeks .fntopicsoutlineinner ul.section table td p{
    margin: 0;
}

/*** Tool Tips ***/
.fnweeklynav .fntab-tooltip {
    cursor: pointer;
    outline: none;
    position: relative;
    text-decoration: none;
}
.fnweeklynav .fntab-tooltip span {
    margin-left: -999em; 
    position: absolute;
}
.fnweeklynav .fntab-tooltip:hover span {
    background: #DCDCDC; 
    height: 38px;
    left: -4.4em; 
    margin-left: 0; 
    padding: 1px;
    position: absolute; 
    top: -4.5em; 
    width: 255px; 
    z-index: 999; 
}
.fnweeklynav .fntab-tooltip:hover img.arrows {
    border: 0; 
    bottom: -19px;
    left: 70px; 
    margin: 0; 
    position: absolute; 
}
.fnweeklynav .fntab-tooltip:hover div.head {
    background-color: #DCDCDC; 
    color: #18a3e6; 
    font-size: 16px; 
    font-weight: bold; 
    margin: 0;
    padding: 0.1em 0; 
    text-align: center; 
}
.fnweeklynav .fntab-tooltip:hover ul {
    list-style-type: none;
    margin: 0; 
    padding: 2px; 
}
.fnweeklynav .fntab-tooltip:hover li {
    background: white;
    float: left; 
    font-size: 14px; 
    list-style-type: none; 
    margin: 2px; 
    padding: 3px 3px 6px 3px; 
    text-align: left; 
    width: 40px; 
}
.fnweeklynav .fntab-tooltip:hover li img {
    vertical-align: middle;
}
.fnweeklynav .fntab-tooltip-right {
    cursor: pointer;
    outline: none; 
    position: relative; 
    text-decoration: none; 
}
.fnweeklynav .fntab-tooltip-right span {
    margin-left: -999em; 
    position: absolute;
}
.fnweeklynav .fntab-tooltip-right:hover span {
    background-color: #DCDCDC; 
    height: 38px; 
    margin-left: 0; 
    padding: 1px;
    position: absolute; 
    right: -3.9em; 
    top: -4.5em; 
    width: 255px; 
    z-index: 999; 
}
.fnweeklynav .fntab-tooltip-right:hover img.arrows {
    border: 0; 
    bottom: -19px;
    margin: 0; 
    position: absolute; 
    right: 63px; 
}
.fnweeklynav .fntab-tooltip-right:hover div.head {
    background: #DCDCDC; 
    color: #18a3e6; 
    font-size: 16px; 
    font-weight: bold; 
    margin: 0;
    padding: 0.1em 0; 
    text-align: center; 
}
.fnweeklynav .fntab-tooltip-right:hover ul {
    list-style-type: none;
    margin: 0; 
    padding: 2px; 
}
.fnweeklynav .fntab-tooltip-right:hover li {
    background: white;
    float: left; 
    font-size: 14px; 
    list-style-type: none; 
    margin: 2px; 
    padding: 3px 3px 6px 3px; 
    text-align: left; 
    width: 40px; 
}
.fnweeklynav .fntab-tooltip-right:hover li img {
    vertical-align:middle;
}


.fnweeklynav .custom {
    padding: 0;
}
* html a:hover {
    background: transparent;
}
.fnweeklynav .info {
    background: #fff; 
    border: 3px solid #2BB0D7;
}


.fnoutlineheadingblock, .fnoutlineheadingblock1 {
    background-color: #E1E1DF;
    background-image: url('[[pix:format_fntabs|hgradient]]');
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    padding: 5px 0 10px 0;
    text-align: center;
}
.fnoutlineheadingblockone {
    text-align: center;
}

h2.fnoutlineheadingblock, h2.fnoutlineheadingblock1 {
    font-size: 1.0em;
}

.fntabs .tab-greaterthan5 {
    width: 60px;
}

.course-content ul.fntabs li.section .tab-lessthan5 {
    border-radius: 5px 5px 0 0;
    max-width: 86px;
    width: 86px;
}
.course-content ul.fntabs li.section .tab-lessthan5 a {
    display: inline;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.course-content ul.fntabs li.section tr.fntabs td.fnweeklynavselected {
    border-radius: 5px 5px 0 0;
}
.mod-indent-1 {
    margin-left: 0 !important;
}

.mform .fitem fieldset.fgroup label, .mform .fradio label, .mform .fcheckbox label, .mform fieldset.fdate_selector label{
    padding-left: 5px;
}

.mform #fncoursecolours .fitem .fitemtitle {
    width: 150px;
}

.mform #fncoursecolours .fitem .felement {
    margin-left: 155px;
}

#page-course-format-fntabs-settings #fgroup_id_radioar span {
    display: inline-block;
    line-height: 30px;
    overflow: hidden;
    width: 80%;
}
#page-course-format-fntabs-settings #fitem_id_topictoshow {
    margin: -31px 0 0 365px;
    position: relative;
    width: 50px;
}

#page-course-format-fntabs-settings #fgroup_id_buttonar {
    text-align: center;
}
#page-course-format-fntabs-settings #Section0 .fitemtitle{
    padding-right: 5px;
    width: 17% !important;
}
#page-course-format-fntabs-settings .fgroup {
    border:none !important;
}
.headingwrap{
    margin-top: 5px;
}
.fn_tabs_settings .fitem .fitemtitle {
    width: 40% !important;
}

.fn_tabs_settings .fitem .felement {
    margin-left: 41% !important;
    width: 55% !important;
}
ul.fntabs .section.img-text {
    width: 100%;
}
.course-content ul.fntabs li.section .mod-indent-outer {
    display: block !important;
}
.course-content ul.fntabs li.section .activity .actionsleft {
    left: 30px;
    position: absolute;
    top: 0;
}
.course-content ul.fntabs li.section .activity .actionslefttrackingbackground {
    left: 33px;
    position: absolute;
    top: 8px;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-notset {
    margin: 0;
    padding: 5px 15px 1px 10px;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-manual-n,
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-n,
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-pass,
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-y,
.course-content ul.fntabs li.section .activity .activityinstance.completion-manual-y,
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-fail,
.course-content ul.fntabs li.section .activity .activityinstance.completion-submitted,
.course-content ul.fntabs li.section .activity .activityinstance.completion-saved {
    border-radius: 10px;
    margin: 0;
    padding: 5px 15px 1px 10px;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-manual-n,
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-n {
    background-color: #FFF;
    border: 1px solid #AEE5E3;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-pass,
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-y,
.course-content ul.fntabs li.section .activity .activityinstance.completion-manual-y{
    background-color: #D0EFCF;
    border: 1px solid #D0EFCF;
}
.course-content ul.fntabs {
    text-align: left;
}
.fntopicsoutlinecontent.fnsectionouter.orphaned {
    background-color: #757575;
}
.course-content .fntopicsoutlinecontent.fnsectionouter:first-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.course-content .fntopicsoutlinecontent.fnsectionouter:nth-child(3) {
    border-top: 0;
    margin-top: -1px;
    padding-top: 0;
}
.course-content .fntopicsoutlinecontent.fnsectionouter {
    margin-bottom: 10px;
    padding: 7px;
    position: relative;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-auto-fail {
    background-color: #FDE8E9;
    border: 1px solid #FDE8E9;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-submitted {
    background-color: #FFFEE1;
    border: 1px solid #FFFEE1;
}
.course-content ul.fntabs li.section .activity .activityinstance.completion-saved {
    background-color: #ffffff;
    border: 1px solid #AEE5E3;
}
ul.fntabs li.section .activity .mod-indent-outer {
    padding-left: 35px !important;
}
.section .activity .actions {
    position: absolute;
    right: 0;
    top: 0;
}
.course-content ul.fntabs ul.fntabs {
    margin: 0;
}
.course-content ul.fntabs li.section a.fntab-tooltip {
    font-size: 14px;
}
.fnsectionnumber {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}
